<div class="row mb-2">
    <div class="col-12">
        <h5>Добавить сотрудника</h5>
    </div>
    <form [formGroup]="formWorker">
        <div class="col-12 my-2">
            <input type="text" class="form-control" placeholder="Имя" formControlName="name"/>
        </div>
        <div class="col-12 my-2">
            <input type="text" class="form-control" placeholder="Фамилия" formControlName="surname"/>
        </div> 
        <div class="col-12 my-2">
            <input type="text"
            mask="+0 (000) 0000000" 
            class="form-control" placeholder="Телефон" formControlName="phone"/>
        </div>  
        <div class="col-12 my-2">
            <select class="custom-select" formControlName="type">
                <option [ngValue]="myWorkerType.programmer">Программист</option>
                <option [ngValue]="myWorkerType.designer">Дизайнер</option>
                <option [ngValue]="myWorkerType.copywriter">Рекламщик</option>
                <option [ngValue]="myWorkerType.manager">Менеджер</option>
            </select>
        </div>
    </form>
    <div class="row mt-2">
        <div class="col-6">
            <button class="btn btn-outline-primary btn-sm"
            (click)="onAddWorker()"
            [disabled]="formWorker.invalid">Добавить</button>
        </div>
    </div>
</div>